.VideoElement {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    transition: all 0.25s ease-out;
    width: 100%;
}

.VideoTitle {
    font-weight: bold;
}

.VideoElement .ImageContainer {
    display: block;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 8px;
    margin-right: 8px;
}

.VideoElement .TextContainer {
    display: block;
    width: 167px;
    padding: 0;
}

.VideoElement .TextContainer button {
    height: 24px;
    padding-left: 0;
    padding-right: 0;
}

.loadingHolder {
    text-align: center;
    width: 100%;
    height: calc(41px - 7.5px);
    padding-top: 7.5px;
}